body {
    margin: 0px;
}

.header{
    background-color: red;
    color: white;
    height:90px;
    margin:0px auto;
    width: 100%;
}

.button-container {
    text-align: center;
}

.button-style {
    background-color: rebeccapurple;
    padding: 10px 10px 10px 10px;
}

.button-style > a {
    color: black;
    text-decoration: none;
}

.page-container {
    width: 100%;
}

.page-1 {
    background-color: blue;
}

.page-2 {
    background-color: green;
}

.page-3 {
    background-color: darkviolet;
}

.page-4 {
    background-color: aliceblue;
}

.page-5 {
    background-color: deeppink;
}